<br>
<div class="form-inline" action="">
  <div class="form-group mb-2" >
    <input type="text" 
    class="form-control mr-2" 
    placeholder="Filtrar"
    [(ngModel)]="filtroLista"
    >
    </div>
</div>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Data</th>
      <th>Hora</th>
      <th>Incidentes</th>
      <th>Unico Lacre</th>
      <th>Numero</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="autosbusca && autosbusca">
    <tr *ngFor="let autobusca of autoBuscaFiltrados">
      <td>{{autobusca.id}}</td>
      <td>{{autobusca.data | DateFormatPipe}}</td>
      <td>{{autobusca.hora | HourFormatPipe}}</td>
      <td>{{autobusca.incidentes | uppercase}}</td>
      <td>{{autobusca.fl_UnicoVolume}}</td>
      <td>{{autobusca.nrLacreUnicoVolume}}</td>
      <td>
        <div class="btn-group">
        <button class="btn btn-sm btn-success" tooltip="Editar" (click)="openModal(template);">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-sm btn-danger" tooltip="Excluir">
          <i class="fa fa-eraser"></i>
        </button>
      </div>
      </td> 
    </tr>
  </tbody>
  <tfoot *ngIf="!autosbusca">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum Auto Encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" 
      aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
  </ng-template>

  <form [formGroup]="registerForm">  
    <div class="form-row">
      <div class="form-group col-md-2">
        <label>Data</label>
        <input type="text" class="form-control" bsDatepicker
        [ngClass]="{'is-invalid': registerForm.get('data').errors && registerForm.get('data').touched}"
        formControlName="data" placeholder="Data.">
        <div class="invalid-feedback">
          Data obrigatória.
        </div>
      </div>
      <div class="form-group col-md-2">
        <label>Hora</label>
        <input type="time" class="form-control" 
        [ngClass]="{'is-invalid': registerForm.get('hora').errors && registerForm.get('hora').touched}"
        formControlName="hora" placeholder="Hora.">
        <div class="invalid-feedback">
          Hora obrigatória.
        </div>
      </div>
      <div class="form-group col-md-8"></div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Incidentes</label>
        <input type="text" 
        [ngClass]="{'is-invalid': registerForm.get('incidentes').errors && registerForm.get('incidentes').touched}"
        class="form-control" formControlName="incidentes" placeholder="Incidentes.">
        <div class="invalid-feedback">
          Incidentes obrigatório.
        </div>
      </div>
    </div>
  </form>
  <br>
  <button class="btn btn-secondary" (click)="openModal(template)">
    Fechar
  </button>
  <button class="btn btn-primary" [disabled]="!registerForm.valid" (click)="salvarAlteracao()">
    Salvar
  </button>
  <br>
  <br>
  <p>Form Values: {{registerForm.value | json}}</p>
  <p>Form Status: {{registerForm.status | json}}</p>