<br>
<app-titulo [titulo]=titulo></app-titulo>
<div class="d-flex">
<div class="form-inline mr-auto" action="">
  <div class="form-group mb-2" ><input type="text" class="form-control mr-2" placeholder="Filtrar"
      [(ngModel)]="filtroLista">
  </div>
</div>
<button class="btn btn-outline-primary" (click)="novoChamado(template)">
  <i class="fa fa-plus-circle"></i>&nbsp;
  Novo Chamado
</button>  
</div>
<br>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Cliente</th>
      <th>Data</th>
      <th>Hora</th>
      <th>Observação</th>
      <th>Status</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="chamados">
    <tr *ngFor="let chamado of chamadoFiltrados">
      <td>{{chamado.id}}</td>
      <td>{{chamado.clienteId}}</td>
      <td>{{chamado.data | uppercase}}</td>
      <td>{{chamado.hora | uppercase}}</td>
      <td>{{chamado.observacao | uppercase}}</td>
      <td>{{chamado.status}}</td>
      <td>
        <div class="btn-group">
        <button class="btn btn-sm btn-success" tooltip="Editar" (click)="editarChamado(chamado, template)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluirChamado(chamado, confirm)">
          <i class="fa fa-eraser"></i>
        </button>
      </div>
      </td> 
    </tr>
  </tbody>
  <tfoot *ngIf="!chamados">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum chamado encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Manutenção Chamados</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">  
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Data</label>
              <input type="text" 
              [ngClass]="{'is-invalid': registerForm.get('data').errors && registerForm.get('data').touched}"
              class="form-control" formControlName="data" placeholder="Data.">
              <div class="invalid-feedback">
                A Data é obrigatória.
              </div>
            </div>
            <div class="form-group col-md-9">
              <label>Hora</label>
              <input type="text"  
              [ngClass]="{'is-invalid': registerForm.get('hora').errors && registerForm.get('hora').touched}"
              class="form-control" formControlName="hora" placeholder="Hora">
              <div class="invalid-feedback">
                A hora é obrigatória.
              </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Observação</label>
              <input type="text" class="form-control" formControlName="observacao" placeholder="Observação.">
            </div>
            <div class="form-group col-md-3">
              <label>Status</label>
              <input type="text" class="form-control" formControlName="status" placeholder="Status.">
            </div>
            <div class="form-group col-md-3">
              <label>Cliente</label>
              <input type="text" class="form-control" formControlName="clienteId" placeholder="Cliente.">
            </div>
          </div> 
          
        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
        <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Deletando Chamado
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeletarChamado}}</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
        			CANCELAR
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          		DELETAR
        		</button>
    		</div>
  		</div>
	</div>
</div>