<br>
<app-titulo [titulo]=titulo></app-titulo>
<div class="d-flex">
  <div class="form-inline mr-auto" action="">
    <div class="form-group mb-2"><input type="text" class="form-control mr-2" placeholder="Filtrar por Nr de série"
        [(ngModel)]="filtroLista">
    </div>
  </div>
  <div>
  <button class="btn btn-sm btn-outline-primary"  (click)="novoEquipamento(template)" *ngIf="idCliente !== 0"> 
    <i class="fa fa-plus-circle" style="font-size: 12px;"></i>&nbsp;
    Novo Equipamento
  </button>
</div>
</div>
<br>
<div class="table-responsive">
  <table class="table table-striped table-sm" style="font-size: 12px;">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Nr de Série</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Editar</th>
      <th>Excluir</th>
      <th>Serviços</th>
    </tr>
  </thead>
  <tbody *ngIf="equipamentos">
    <tr *ngFor="let equipamento of equipamentoFiltrados">  
      <td>
        <img src="http://localhost:5000/resources/images/{{equipamento.imagemURL}}?_ts={{dataAtual}}"
         [style.width.px]="imagemLargura" [style.margin.px]="imagemMargem">
      </td>
      <td>{{equipamento.nrSerie | uppercase}}</td>
      <td>{{equipamento.marca | uppercase}}</td>
      <td>{{equipamento.modelo | uppercase}}</td>
      <td>
        <button style="margin-left: 1px;" class="btn btn-sm btn-success" tooltip="Editar" (click)="editarEquipamento(equipamento, template)">
          <i class="fa fa-edit" style="font-size: 12px;"></i>
        </button>
      </td>
      <td>
        <button style="margin-left: 2px;" class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluirEquipamento(equipamento, confirm)">
          <i class="fa fa-eraser" style="font-size: 12px;"></i>
        </button>
      </td>
      <td>
        <a style="margin-left:7px;" [routerLink]="['/equipamentoEdit', equipamento.id, 'edit']" tooltip="Cadastrar serviços" class="btn btn-sm btn-warning">
          <i class="fa fa-eye" style="font-size: 12px;"></i>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!equipamentos">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum equipamento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
</div>

<div bsModal #template="bs-modal"  [config]= "{ignoreBackdropClick: true, keyboard: false}" 
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Equipamentos</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-row">
                    <div class="form-group col-md-3">
                      <label>Número de Série</label>
                      <input type="text" class="form-control" maxlength="10"
                      [ngClass]="{'is-invalid': registerForm.get('nrSerie').errors && registerForm.get('nrSerie').touched}"
                      formControlName="nrSerie" placeholder="Número de Série.">
                      <div *ngIf="registerForm.get('nrSerie').hasError('required')
                              && registerForm.get('nrSerie').touched" class="invalid-feedback">
                              Número de série é obrigatório.
                      </div>
                    </div>
                    <div class="form-group col-md-9">
                      <label>Imagem</label>
                      <table>
                        <tr>
                          <td>
                            <button class="btn btn-success" (click)="file.click()">
                              Enviar Imagem
                            </button>
                            <input type="file" #file [ngClass]="{'is-invalid': registerForm.get('imagemURL').errors 
                && registerForm.get('imagemURL').touched}" (change)="onFileChange($event)" class="form-control is-invalid"
                              formControlName="imagemURL" placeholder="" style="display: none">
                          </td>
                        </tr>
                      </table>
                      <div *ngIf="registerForm.get('imagemURL').hasError('required')
          && registerForm.get('imagemURL').touched" class="invalid-feedback">
                        Imagem é obrigatório.
                      </div>
                    </div>
                  </div>
                    <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Marca</label>
                      <input type="text" class="form-control" maxlength="50"
                      [ngClass]="{'is-invalid': registerForm.get('marca').errors && registerForm.get('marca').touched}"
                      formControlName="marca" placeholder="Marca">
                      <div *ngIf="registerForm.get('marca').hasError('required')
                              && registerForm.get('marca').touched" class="invalid-feedback">
                              A marca é obrigatória.
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Modelo</label>
                      <input type="text" class="form-control" maxlength="50"
                      [ngClass]="{'is-invalid': registerForm.get('modelo').errors && registerForm.get('modelo').touched}"
                      formControlName="modelo" placeholder="Modelo.">
                      <div *ngIf="registerForm.get('modelo').hasError('required')
                              && registerForm.get('modelo').touched" class="invalid-feedback">
                              Modelo é obrigatório.
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label>Descrição</label>
                      <textarea  class="form-control" maxlength="250"
                      formControlName="descricao" placeholder="Descrição."></textarea>
                    </div>
                  </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
        <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarEquipamento(template)">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>
<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Deletando Equipamento
        </h4>
        <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{bodyDeletarEquipamento}}</p>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
          CANCELAR
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          DELETAR
        </button>
      </div>
    </div>
  </div>
</div>