<br>
<app-titulo [titulo]=titulo></app-titulo>
<div class="d-flex">
  <div class="form-inline mr-auto" action="">
    <div class="form-group mb-2"><input type="text" class="form-control mr-2" placeholder="Filtrar"
        [(ngModel)]="filtroLista">
    </div>
  </div>
  <div >
  <button class="btn btn-outline-primary" (click)="novoCliente(template)">
    <i class="fa fa-plus-circle"></i>&nbsp;
    Novo Cliente
  </button>
</div>
</div>
<br>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Contato</th>
      <th>Telefone</th>
      <th>Editar | Excluir</th>
      <th>Equipamentos</th>
    </tr>
  </thead>
  <tbody *ngIf="clientes">
    <tr *ngFor="let cliente of clienteFiltrados">
      <td>{{cliente.id}}</td>
      <td>{{cliente.nome | uppercase}}</td>
      <td>{{cliente.contato | uppercase}}</td>
      <td>
        <div *ngIf="!cliente.telefones.length">
          Não Informado
        </div>
        <div *ngIf="cliente.telefones.length">
          {{cliente.telefones[0].numero}}
        </div>
      </td>
      <td>
        <div style="margin: auto;">
          <button class="btn btn-sm btn-success" tooltip="Editar" (click)="editarCliente(cliente,template)">
            <i class="fa fa-edit"></i>
          </button>
          <button style="margin-left: 15px;" class="btn btn-sm btn-danger" tooltip="Excluir"
            (click)="excluirCliente(cliente, confirm)">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
      <td>
        <a style="align-items: center; margin-left:20px;" [routerLink]="['/equipamentos', cliente.id, 'edit']"
          tooltip="Equipamentos" class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i></a>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!clientes">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum cliente encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<div bsModal #template="bs-modal"  [config]= "{ignoreBackdropClick: true, keyboard: false}" 
class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Clientes</h4>
        <button type="button" class="close pull-right" (click)="fechaModal(template)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="registerForm">
          <div class="row">
            <div class="col-md-12">
             
              <tabset>
             
                <tab heading="Cliente">
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label>CNPJ</label>
                      <input type="text" #cpf  class="form-control" formControlName="cpfCnpj" 
                        placeholder="CPF/CNPJ." maxlength="18" name="cpfCnpj" id="cpfCnpj"
                        onkeydown="javascript:return aplica_mascara_cpfcnpj(this,18,event)"
                        onkeyup="javascript:return aplica_mascara_cpfcnpj(this,18,event)"
                        (blur)="VerificaSeExisteCliente(cpf.value, template);"
                        onkeypress="return SomenteNumero(event)">
                    </div>
                    <div class="form-group col-md-9">
                      <label>Nome</label>
                      <input type="text" class="form-control" formControlName="nome" placeholder="Nome">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Contato</label>
                      <input type="text" class="form-control" formControlName="contato" placeholder="Contato.">
                    </div>
                    <div class="form-group col-md-6">
                      <label>E-mail</label>
                      <input type="text" class="form-control" formControlName="email" placeholder="E-mail.">
                    </div>
                  </div>
                </tab>
                
                <tab heading="Endereço">
                      <div>
                        <div formArrayName="enderecos" *ngFor="let endereco of enderecos.controls; let i=index">
                          <fieldset [formGroupName]="i" class="form-group">
                            <legend class="d-flex justify-content-between capitalize">
                              {{ enderecos.get(i+'.logradouro').value === '' ?
                                'Endereço' :
                                enderecos.get(i+'.logradouro').value
                              }}
                              <button class="btn btn-sm btn-danger mb-1" (click)="removerEndereco(i)">remove</button>
                            </legend>
                            <div class="row">
                              <div class="form-group col-md-2">
                                <label>CEP</label>
                                <input type="text" class="form-control"
                                  [ngClass]="{'is-invalid': enderecos.get(i+'.cep').errors && enderecos.get(i+'.cep').touched}"
                                  formControlName="cep" placeholder="Cep" mask="00000-000" onkeypress="return SomenteNumero(event)">
                              </div>
                              <div class="form-group col-md-8">
                                <label>Logradouro</label>
                                <input type="text" class="form-control" formControlName="logradouro"
                                [ngClass]="{'is-invalid': enderecos.get(i+'.logradouro').errors && enderecos.get(i+'.logradouro').touched}"
                                  placeholder="Logradouro.">
                              </div>
                              <div class="form-group col-md-2">
                                <label>Número</label>
                                <input type="text" class="form-control" 
                                [ngClass]="{'is-invalid': enderecos.get(i+'.numero').errors && enderecos.get(i+'.numero').touched}"
                                formControlName="numero" placeholder="Numero.">
                              </div>
                            </div>
                              <div class="form-row">
                                <div class="form-group col-md-5">
                                  <label>Bairro</label>
                                  <input type="text" class="form-control" 
                                  [ngClass]="{'is-invalid': enderecos.get(i+'.bairro').errors && enderecos.get(i+'.bairro').touched}"
                                  formControlName="bairro" placeholder="Bairro.">
                                </div>
                                <div class="form-group col-md-4">
                                  <label>Cidade</label>
                                  <input type="text" class="form-control" 
                                  [ngClass]="{'is-invalid': enderecos.get(i+'.cidade').errors && enderecos.get(i+'.cidade').touched}"
                                  formControlName="cidade" placeholder="Cidade.">
                                </div>
                                <div class="form-group col-md-3">
                                  <label>Estado</label>
                                  <select class="form-control" 
                                  [ngClass]="{'is-invalid': enderecos.get(i+'.uf').errors && enderecos.get(i+'.uf').touched}"
                                  formControlName="uf" data-search="false">
                                    <option value="">Selecione</option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                  </select>
                                </div>
                            </div>
                          </fieldset>
                        </div>
                        <button (click)="adicionarEndereco()" class="btn btn-outline-primary">
                          Adicionar Endereço
                        </button>
                      </div>
                </tab>

                <tab heading="telefones">
                  <div>
                    <div formArrayName="telefones" *ngFor="let telefone of telefones.controls; let i=index">
                      <div [formGroupName]="i" class="form-group">
                        <h5>Telefones</h5>
                        <div class="form-row">
                          <div class="form-group col-md-3">
                            <label>Numero</label>
                            <input type="text" class="form-control" formControlName="numero" placeholder="Número."
                              maxlength="15" mask="(00) 000000000" id="telefone" onkeypress="return SomenteNumero(event)">
                          </div>
                          <div class="form-group col-md-3">
                            <label>Tipo</label>
                            <select class="form-control" formControlName="tipo">
                              <option value="">Selecione</option>
                              <option value="1">Celular</option>
                              <option value="2">Comercial</option>
                            </select>
                          </div>
                          <div class="form-group col-md-1">
                            <br>
                            <button type="button" class="btn btn-outline-danger mt-2"
                              (click)="removerTelefone(i)">Remover</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-outline-primary" (click)="adicionarTelefone();">
                      Adicionar Telefone
                    </button>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </form>
        
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="fechaModal(template)">
          Fechar
        </button>
        <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Deletando Cliente
        </h4>
        <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{bodyDeletarCliente}}</p>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
          CANCELAR
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          DELETAR
        </button>
      </div>
    </div>
  </div>
</div>