<br>
<app-titulo [titulo]=titulo></app-titulo>
<div class="d-flex">
  <div class="form-inline mr-auto" action="">
    <div class="form-group mb-2"><input type="text" class="form-control mr-2" placeholder="Filtrar por nome"
        [(ngModel)]="filtroLista">
    </div>
  </div>
  <div>
  <button class="btn btn-sm btn-outline-primary" (click)="novoCliente(template)">
    <i class="fa fa-plus-circle" style="font-size: 12px;"></i>&nbsp;
    Novo Cliente
  </button>
</div>
</div>
<br>
<div class="table-responsive">
<table class="table table-striped table-sm" style="font-size: 12px;">
  <thead class="thead-dark">
    <tr>
     <!--  <th>#</th> -->
      <th>Nome</th>
      <th>Contato</th>
      <th>Telefone</th>
      <th>Editar</th>
      <th>Excluir</th>
      <th>Equipamentos</th>
    </tr>
  </thead>
  <tbody *ngIf="clientes">
    <tr *ngFor="let cliente of clienteFiltrados">
     <!--  <td>{{cliente.id}}</td> -->
      <td>{{cliente.nome | uppercase}}</td>
      <td>{{cliente.contato | uppercase}}</td>
      <td style="width: 120px;">
        <div *ngIf="!cliente.telefones.length">
          Não Informado
        </div>
        <div *ngIf="cliente.telefones.length">
          {{cliente.telefones[0].numero.length === 10 ? (cliente.telefones[0].numero | mask:"(00) 0000-0000")
          : (cliente.telefones[0].numero | mask:"(00) 0 0000-0000") }}  
        </div>
      </td>
      <td>
        <button style="margin-left: 1px;" class="btn btn-sm btn-success" tooltip="Editar" (click)="editarCliente(cliente,template)">
            <i class="fa fa-edit fa-fw" style="font-size: 12px;"></i>
        </button>
      </td>
      <td>
        <button style="margin-left: 3px;" class="btn btn-sm btn-danger" tooltip="Excluir"
          (click)="excluirCliente(cliente, confirm)">
          <i class="fa fa-eraser fa-fw" style="font-size: 12px;"></i>
        </button>
      </td>
      <td>
        <a style="margin-left:25px;" [routerLink]="['/equipamentos', cliente.id, 'edit']"
          tooltip="Equipamentos" class="btn btn-sm btn-warning">
          <i class="fa fa-eye" style="font-size: 12px;"></i></a>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!clientes">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum cliente encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

</div>

<div bsModal #template="bs-modal"  [config]= "{ignoreBackdropClick: true, keyboard: false}" 
class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Clientes</h4>
        <button type="button" class="close pull-right" (click)="fechaModal(template)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="registerForm">
          <div class="row">
            <div class="col-md-12">
             
              <tabset #tabCli>
             
                <tab heading="Cliente">
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label>CPF/ CNPJ</label>
                      <input type="text" #cpf  class="form-control" formControlName="cpfCnpj"
                        [ngClass]="{'is-invalid': registerForm.get('cpfCnpj').errors && registerForm.get('cpfCnpj').touched}"
                        placeholder="CPF/CNPJ." maxlength="18" name="cpfCnpj" id="cpfCnpj"
                        onkeydown="javascript:return aplica_mascara_cpfcnpj(this,18,event)"
                        onkeyup="javascript:return aplica_mascara_cpfcnpj(this,18,event)"
                        (blur)="VerificaSeExisteCliente(cpf.value, template);"
                        onkeypress="return SomenteNumero(event)">
                        <div *ngIf="registerForm.get('cpfCnpj').hasError('required')
                              && registerForm.get('cpfCnpj').touched" class="invalid-feedback">
                              O CPF/ CNPJ é obrigatório.
                        </div>
                    </div>
                    <div class="form-group col-md-9">
                      <label>Nome</label>
                      <input type="text" class="form-control" formControlName="nome" 
                      [ngClass]="{'is-invalid': registerForm.get('nome').errors && registerForm.get('nome').touched}"
                      placeholder="Nome" maxlength="100">
                      <div *ngIf="registerForm.get('nome').hasError('required')
                              && registerForm.get('nome').touched" class="invalid-feedback">
                              Nome é obrigatório.
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Contato</label>
                      <input type="text" class="form-control" formControlName="contato" 
                      [ngClass]="{'is-invalid': registerForm.get('contato').errors && registerForm.get('contato').touched}"
                      placeholder="Contato." maxlength="150">
                      <div *ngIf="registerForm.get('contato').hasError('required')
                              && registerForm.get('contato').touched" class="invalid-feedback">
                              Contato é obrigatório.
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label>E-mail</label>
                      <input type="text" class="form-control" formControlName="email" 
                      [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
                      placeholder="E-mail." maxlength="150">
                      <!-- <div *ngIf="registerForm.get('email').hasError('required')
                              && registerForm.get('email').touched" class="invalid-feedback">
                              E-mail é obrigatório.
                      </div> -->
                      <div *ngIf="registerForm.get('email').hasError('email')
                        && registerForm.get('email').touched" class="invalid-feedback">
                         Informe um e-mail válido.
                      </div>
                    </div>
                  </div> 
                </tab>
                
                <tab heading="Endereço">
                      <div>
                        <div formArrayName="enderecos" *ngFor="let endereco of enderecos.controls; let i=index">
                          <fieldset [formGroupName]="i" class="form-group">
                            <legend class="d-flex justify-content-between capitalize">
                              {{ enderecos.get(i+'.logradouro').value === '' ?
                                'Endereço' :
                                enderecos.get(i+'.logradouro').value
                              }}
                              <button class="btn btn-sm btn-danger mb-1" (click)="removerEndereco(i)">remove</button>
                            </legend> 
                            <div class="row">
                              <div class="form-group col-md-2">
                                <label>CEP</label>
                                <input type="text" #cep class="form-control"
                                  formControlName="cep" placeholder="Cep" mask="00000-000" onkeypress="return SomenteNumero(event)" maxlength="9">
                                  <!-- <div *ngIf="enderecos.get(i+'.cep').hasError('required')
                                  && enderecos.get(i+'.cep').touched" class="invalid-feedback">
                                  Cep é obrigatório. 
                                  </div> -->
                              </div>
                              <div class="form-group col-md-8">
                                <label>Logradouro</label>
                                <input type="text" class="form-control" formControlName="logradouro" 
                                [ngClass]="{'is-invalid': enderecos.get(i+'.logradouro').errors && enderecos.get(i+'.logradouro').touched}"
                                  placeholder="Logradouro." maxlength="150">
                                  <div *ngIf="enderecos.get(i+'.logradouro').hasError('required')
                                  && enderecos.get(i+'.logradouro').touched" class="invalid-feedback">
                                  Logradouro é obrigatório.
                                  </div>
                              </div>
                              <div class="form-group col-md-2">
                                <label>Número</label>
                                <input type="text" class="form-control" 
                                [ngClass]="{'is-invalid': enderecos.get(i+'.numero').errors && enderecos.get(i+'.numero').touched}"
                                formControlName="numero" placeholder="Numero." maxlength="10">
                                <div *ngIf="enderecos.get(i+'.numero').hasError('required')
                                  && enderecos.get(i+'.numero').touched" class="invalid-feedback">
                                  Número é obrigatório.
                                  </div>
                              </div>
                            </div>
                              <div class="form-row">
                                <div class="form-group col-md-5">
                                  <label>Bairro</label>
                                  <input type="text" class="form-control" 
                                  [ngClass]="{'is-invalid': enderecos.get(i+'.bairro').errors && enderecos.get(i+'.bairro').touched}"
                                  formControlName="bairro" placeholder="Bairro." maxlength="150">
                                  <div *ngIf="enderecos.get(i+'.bairro').hasError('required')
                                  && enderecos.get(i+'.bairro').touched" class="invalid-feedback">
                                  Bairro é obrigatório.
                                  </div>
                                </div>
                                <div class="form-group col-md-4">
                                  <label>Cidade</label>
                                  <input type="text" class="form-control" 
                                  [ngClass]="{'is-invalid': enderecos.get(i+'.cidade').errors && enderecos.get(i+'.cidade').touched}"
                                  formControlName="cidade" placeholder="Cidade." maxlength="150">
                                  <div *ngIf="enderecos.get(i+'.cidade').hasError('required')
                                  && enderecos.get(i+'.cidade').touched" class="invalid-feedback">
                                  Cidade é obrigatório.
                                  </div>
                                </div>
                                <div class="form-group col-md-3">
                                  <label>Estado</label> 
                                  <select class="form-control"
                                  [ngClass]="{'is-invalid': enderecos.get(i+'.uf').errors && enderecos.get(i+'.uf').touched}"
                                  formControlName="uf" data-search="false">
                                    <option value="">Selecione</option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                  </select>
                                  <div *ngIf="enderecos.get(i+'.uf').hasError('required')
                                  && enderecos.get(i+'.uf').touched" class="invalid-feedback">
                                  Estado é obrigatório.
                                  </div>
                                </div>
                            </div>
                          </fieldset>
                        </div>
                        <button (click)="adicionarEndereco()" class="btn btn-outline-primary">
                          Adicionar Endereço
                        </button>
                      </div>
                </tab>

                <tab heading="Telefones">
                  <div>
                    <div formArrayName="telefones" *ngFor="let telefone of telefones.controls; let i=index">
                      <div [formGroupName]="i" class="form-group">
                        <h5>Telefones</h5>
                        <div class="form-row">
                          <div class="form-group col-md-3">
                            <label>Tipo</label>
                            <select class="form-control" 
                            [ngClass]="{'is-invalid': telefones.get(i+'.tipo').errors && telefones.get(i+'.tipo').touched}"
                            formControlName="tipo">
                              <option value="">Selecione</option>
                              <option value="1">Celular</option>
                              <option value="2">Fixo</option>
                            </select>
                            <div *ngIf="telefones.get(i+'.tipo').hasError('required')
                            && telefones.get(i+'.tipo').touched" class="invalid-feedback">
                            Tipo é obrigatório.
                            </div>
                          </div>
                          <div class="form-group col-md-3">
                            <label>Número</label>
                            <div *ngIf="telefones.get(i+'.tipo').value == 1">
                            <input type="text" class="form-control" formControlName="numero" 
                            [ngClass]="{'is-invalid': telefones.get(i+'.numero').errors && telefones.get(i+'.numero').touched}"
                            placeholder="Número." maxlength="15"  mask="(00)00000-0000"
                            onkeypress="return SomenteNumero(event)">
                            </div>
                            <div *ngIf="telefones.get(i+'.tipo').value == 2">
                              <input type="text" class="form-control" formControlName="numero" 
                              [ngClass]="{'is-invalid': telefones.get(i+'.numero').errors && telefones.get(i+'.numero').touched}"
                              placeholder="Número." maxlength="15"  mask="(00)0000-0000"
                              onkeypress="return SomenteNumero(event)">
                            </div>
                            <div *ngIf="telefones.get(i+'.numero').hasError('required')
                            && telefones.get(i+'.numero').touched" class="invalid-feedback">
                            Número é obrigatório.
                            </div>
                          </div>
                          
                          <div class="form-group col-md-1">
                            <br>
                            <button type="button" class="btn btn-outline-danger mt-2"
                              (click)="removerTelefone(i)">Remover</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-outline-primary" (click)="adicionarTelefone();">
                      Adicionar Telefone
                    </button>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </form>
        
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="fechaModal(template)">
          Fechar
        </button>
        <button #salvar class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Deletando Cliente
        </h4>
        <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{bodyDeletarCliente}}</p>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
          CANCELAR
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          DELETAR
        </button>
      </div>
    </div>
  </div>
</div>