<br>
<app-titulo [titulo]=titulo></app-titulo>
<div class="d-flex">
  <div class="form-inline mr-auto" action="">
    <div class="form-group mb-2"><input type="text" class="form-control mr-2" placeholder="Filtrar por Nr ordem"
        [(ngModel)]="filtroLista" maxlength="10" onkeypress="return SomenteNumero(event)">
    </div>
  </div>
  <div>
  <button class="btn btn-sm btn-outline-primary" (click)="novoServico(template)" *ngIf="idEquipamento !== 0">
    <i class="fa fa-plus-circle" style="font-size: 12px;"></i>&nbsp;
    Novo Serviço
  </button>
  </div>
</div>
<br>
<div class="table-responsive">
<table class="table table-striped table-sm" style="font-size: 12px;">
  <thead class="thead-dark">
    <tr>
     <!--  <th>#</th> -->
      <th>Nr Ordem de Serviço</th>
      <th>Data de Atendimento</th>
      <th>Dias de Garantia</th>
      <th>Status</th>
      <th>Detalhes</th> 
    </tr>
  </thead>
  <tbody *ngIf="servicos">
    <tr *ngFor="let servico of servicoFiltrados">
      <!-- <td>{{servico.id}}</td> -->
      <td>{{servico.nrOrdem}}</td>
      <td>{{servico.dtAtendimento | slice:0:8}}</td>
      <td>{{servico.qtdDiasGarantia}}</td>
      <td>
        <div *ngIf="servico.garantia">
         <h5>
           <span class="badge badge-success" style="padding: 7px;">
              <i class="fa fa-thumbs-up" style="font-size: 12px;"></i>&nbsp; 
              Garantia
            </span>
          </h5>
        </div>
        <div *ngIf="!servico.garantia">
          <h5>
            <span class="badge badge-danger" style="padding: 7px;">
              <i class="fa fa-thumbs-down" style="font-size: 12px;"></i>&nbsp;
              Garantia
            </span>
          </h5>
        </div>
      </td>
      <td>
        <div>


            <button class="btn btn-sm btn-secondary" (click)="editarServico(servico,detalhes)" >
                <i class="fa fa-bars" style="font-size: 12px;"></i>
                Detalhes
             </button>

               <!--<button type="button" class="btn btn-sm btn-secondary"
              [popover]="popTemplate"  [outsideClick]="true"
              popoverTitle="Order de Serviço" data-placement="left"
              style="font-size: 12px;">
              <i class="fa fa-bars" style="font-size: 12px;"></i>
               Detalhes
            </button> --> 
            <button  *ngIf="roleName() == 'Administrador'" class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluirServico(servico, confirm)">
              <i class="fa fa-eraser"></i>
            </button> 
        </div>
        
        
        <div class="popover" >
            <ng-template #popTemplate >
              <html>
                <head>
                </head>
                <body>
              <table class="table table-striped table-sm" style="font-size: 12px;">
                
                <tbody *ngIf="servicos">
                  <tr>
                    <td style="text-align: right;"><b>Nr Ordem :</b></td>
                    <td>{{servico.nrOrdem}}</td>
                    <td><b>Data de Atendimento :</b></td>
                    <td>{{servico.dtAtendimento | DateFormatPipe}}</td>
                    <td><b>Dias de Garantia :</b></td>
                    <td>{{servico.qtdDiasGarantia}}</td>
                  </tr>
                  <tr>
                    <td style="text-align: right;"><b>Defeito :</b></td>
                    <td colspan="5">{{servico.defeito}}</td>
                  </tr>
                  <tr>
                    <td style="text-align: right;"><b>Serviços Executados :</b></td>
                    <td colspan="5">{{servico.servicosExecutados}}</td>
                  </tr>
                  <tr>
                    <td style="text-align: right;"><b>Peças Substituidas :</b></td>
                    <td colspan="5">{{servico.pecasSubstituidas}}</td>
                  </tr>
                  <tr>
                    <td style="text-align: right;"><b>Observações :</b></td>
                    <td colspan="5">{{servico.observacao}}</td>
                  </tr>
                  <tr>
                    <td style="text-align: right;"><b>Valor :</b></td>
                    <td colspan="5">{{servico.valorServico | currency:'R$'}}</td>
                  </tr>
                  <button class="btn btn-sm btn-primary" tooltip="Enviar por e-mail" (click)="excluirServico(servico, confirm)">
                    <i class="fa fa-eraser"></i> 
                  </button> 
                </tbody>
              </table>
                </body>
              </html>
        </ng-template>
      </div>
       
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!servicos">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum serviço encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
</div>

<div bsModal #template="bs-modal"  [config]= "{ignoreBackdropClick: true, keyboard: false}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Serviços</h4>
        <button type="button" class="close pull-right" (click)="fechaModal(template)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">  
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Nr ordem</label>
              <input type="text" class="form-control" #nrOrdem  (blur)="VerificaNrOrdem(nrOrdem.value, template);"
              [ngClass]="{'is-invalid': registerForm.get('nrOrdem').errors && registerForm.get('nrOrdem').touched}" maxlength="10"
              formControlName="nrOrdem" placeholder="Nr Ordem de serviço." onkeypress="return SomenteNumero(event)">
              <div *ngIf="registerForm.get('nrOrdem').hasError('required')
                   && registerForm.get('nrOrdem').touched" class="invalid-feedback">
                   Nr. ordem é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-3">
              <label>Data de atendimento</label>
              <input type="text" bsDatepicker [(ngModel)]="dtAtendimento"
              value="{{dtAtendimento | DateFormatPipe}}"
               maxlength="8" 
              [ngClass]="{'is-invalid': registerForm.get('dtAtendimento').errors && registerForm.get('dtAtendimento').touched}"
              class="form-control" formControlName="dtAtendimento" placeholder="Data de atendimento."
              onkeypress="return SomenteNumero(event)" [minDate]="minDate" [maxDate]="maxDate" 
              onblur="return isDataValida(this)" >
              <div *ngIf="registerForm.get('dtAtendimento').hasError('required')
                   && registerForm.get('dtAtendimento').touched" class="invalid-feedback">
                   Data de atendimento é obrigatório.
              </div>
            </div> 
            <div class="form-group col-md-3">
              <label>Dias de garantia</label>
              <input type="text" class="form-control" 
              [ngClass]="{'is-invalid': registerForm.get('qtdDiasGarantia').errors && registerForm.get('qtdDiasGarantia').touched}" maxlength="3"
              formControlName="qtdDiasGarantia" placeholder="Dias de garantia" onkeypress="return SomenteNumero(event)">
              <div *ngIf="registerForm.get('qtdDiasGarantia').hasError('required')
                   && registerForm.get('qtdDiasGarantia').touched" class="invalid-feedback">
                   Dias de garantia é obrigatório.
              </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Defeito</label>
              <input type="text" class="form-control" 
              [ngClass]="{'is-invalid': registerForm.get('defeito').errors && registerForm.get('defeito').touched}"
              formControlName="defeito" placeholder="Defeito." maxlength="90">
              <div *ngIf="registerForm.get('defeito').hasError('required')
                   && registerForm.get('defeito').touched" class="invalid-feedback">
                   Defeito é obrigatório.
              </div>
            </div>
          </div> 
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Serviço executado</label>
              <input type="text" class="form-control" 
              [ngClass]="{'is-invalid': registerForm.get('servicosExecutados').errors && registerForm.get('servicosExecutados').touched}"
              formControlName="servicosExecutados" placeholder="Serviço executado." maxlength="90">
              <div *ngIf="registerForm.get('servicosExecutados').hasError('required')
                   && registerForm.get('servicosExecutados').touched" class="invalid-feedback">
                   Serviço executado é obrigatório.
              </div>
            </div>
          </div> 
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Peças substituídas</label>
              <input type="text" class="form-control" 
              formControlName="pecasSubstituidas" placeholder="Peças substituídas." maxlength="90">
            </div>
          </div> 
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Observações</label>
              <textarea type="text" class="form-control" 
              formControlName="observacao" placeholder="Observações." maxlength="250"></textarea>
            </div>
          </div> 
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Valor do serviço</label>
              <input type="text" currencyMask
              [ngClass]="{'is-invalid': registerForm.get('valorServico').errors && registerForm.get('valorServico').touched}"
              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" maxlength="20"
              class="form-control" formControlName="valorServico" placeholder="R$ 0,00" onkeypress="return SomenteNumero(event)"> 
              <div *ngIf="registerForm.get('valorServico').hasError('required')
                   && registerForm.get('valorServico').touched" class="invalid-feedback">
                   Valor do serviço é obrigatório.
              </div> 
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="fechaModal(template)">
          Fechar
        </button>
        <button id="btnsalvar" class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarServico(template)" [disabled]="!(modoSalvar=='put')">
          Salvar
        </button>
      </div> 
    </div>
  </div>
</div>
<div bsModal #confirm="bs-modal" class="modal fade"  tabindex="-2" role="dialog" aria-labelledby="dialog-sizes-name1" >
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Deletando Serviço
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeletarServico}}</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
        			CANCELAR
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          		DELETAR
        		</button>
    		</div>
  		</div>
	</div>
</div>


<div bsModal #detalhes="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-lg">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Detalhes do Serviço
      			</h4>
      			<button type="button" class="close pull-right" (click)="detalhes.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
          <table class="table table-striped table-sm" style="font-size: 12px;">
            <tbody *ngIf="servico">
              <tr>
                <td><b>Nr Ordem :</b></td>
                <td>{{servico.nrOrdem}}</td>
                <td><b>Data de Atendimento :</b></td>
                <td>{{servico.dtAtendimento | slice:0:8}}</td>
                <td><b>Dias de Garantia :</b></td>
                <td>{{servico.qtdDiasGarantia}}</td>
              </tr>
              <tr>
                <td><b>Defeito :</b></td>
                <td colspan="5">{{servico.defeito}}</td>
              </tr>
              <tr>
                <td><b>Serviços Executados :</b></td>
                <td colspan="5">{{servico.servicosExecutados}}</td>
              </tr>
              <tr>
                <td><b>Peças Substituidas :</b></td>
                <td colspan="5">{{servico.pecasSubstituidas}}</td>
              </tr>
              <tr>
                <td><b>Observações :</b></td>
                <td colspan="5">{{servico.observacao}}</td>
              </tr>
              <tr>
                <td><b>Valor :</b></td>
                <td colspan="5">{{servico.valorServico | currency:'R$'}}</td>
              </tr>
            </tbody>
          </table>
    		</div>    
    		<div class="modal-footer d-flex">      
      			<button type="button" class="btn btn-outline-primary" (click)="enviarEmail(servico, detalhes, emailDest)">
        			Enviar por Email
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="detalhes.hide()">
          		CANCELAR
        		</button>
    		</div>
  		</div>
	</div>
</div>

<div bsModal #emailDest="bs-modal" class="modal fade"  tabindex="-2" role="dialog" aria-labelledby="dialog-sizes-name1" >
	<div class="modal-dialog modal-ml">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Informe o Destinatário 
      			</h4>
      			<button type="button" class="close pull-right" (click)="emailDest.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Destinatário</label>
                <input type="text" #emailDestinatario class="form-control" width="600px" placeholder="Inform um email para o envio.">
              </div>
            </div>
          </form >
    		</div>    
    		<div class="modal-footer">      
      			<button type="button" class="btn btn-outline-primary" (click)="confirmeEnvio(emailDest)">
        			ENVIAR
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="emailDest.hide()">
          		CANCELAR
        		</button>
    		</div>
  		</div>
	</div>
</div>